@import url('https://fonts.googleapis.com/css?family=Lobster+Two');


@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');

@media(max-width:450px) {
    li a {
        display: block;
        text-decoration: none;
        list-style-type:none;
        margin-top: -10px;
        padding: 0;
        overflow: hidden;
        font-size: 150%;
        width: 100%;
        height: 75px;
        z-index: 12;
        font-family: 'Lobster Two', cursive;
        color: dimgrey;
    }
  /* 
5) Hide the button for desktop
*/
  
  /* 
6) Add media query for mobile styles
*/
  /* 
7) Add mobile style for nav list -- items in a column
*/
  
  .nav-item {
      display: block;
  }
  /* 
8) Display the button on mobile
*/
  
  .nav-toggle {
      display: inline;
  }
  /* 
9) Add a class that hides the nav items on mobile. This is an additional class because we are going to use it to sometimes show the nav and sometimes hide it
*/
  
  .mobile-nav-hidden {
      display: none;
  }
  
}
@media (min-width:500px) {
    .nav-toggle {
        display: none;
    }
    .navbar {
        display: flex;
        list-style-type: none;
        margin-top: -10px;
        padding: 0;
        overflow: hidden;
        font-size: 150%;
        width: 100%;
        height: 75px;
        z-index: 12;
        font-family: 'Lobster Two', cursive;
        color: dimgrey;
        /*position:fixed;*/
        /*justify-content:center;*/
    }
    .navbar li {
        /*float:left;*/
        margin-right: 50px;
    }
    li a:hover {
        background-color: #555;
        color: white;
    }
    li a {
        color: black;
        text-align: center;
        text-decoration: none;
        height: 50px;
        line-height: 80px;
        white-space: nowrap;
        list-style-type: none;
    }
}
  

body{
      background: url(http://maxpixel.freegreatpicture.com/static/photo/1x/Floor-Tile-Pattern-Background-Slab-Abstract-White-2398955.jpg);
      width:100%;
      height:100%;
      position:relative;
      margin:0;
      content:"";
      /*display:table;*/
      /*clear:both;*/
      background-repeat: no-repeat;
      background-size: cover;
      bottom:0;
}

.navbar {
      text-align: center;
      
}

ul a:link {
      text-decoration: none;
}

.active a{
    color: maroon;
}

h1{
      font-family: 'Raleway Dots', cursive;
      text-align:center;
      color:grey;

}

h2{
     font-family: 'Raleway Dots', cursive;
     text-align:center;
     color:maroon;
     font-size: 2em;
}  

.pic{
    width: 35%;
    height: 90;
    border-style: solid;
    border-color: maroon;
    padding:5px;
    
   
}

p{
    font-family: 'Raleway Dots', cursive;
    color:maroon;
    font-weight:bolder;
    text-align: center;
    font-size: 2em;
}


.pic{
    display: block;
    margin: 0 auto;
}



footer {
  background-color:lightgrey;
  position:absolute;
  /*bottom:0;*/
  width:100%;
  height:10%;
  margin-top:20px;
  font-size:.7em;
  text-align: center;
  z-index:12;
}

.myslides{
    width: 70%;
    height:700px;
    
}

.nav-item{
  display:inline;
  margin-left:20px;
}

.linked{
    width:60%;
    height:55%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon {
    margin-top:9px;
}

